<!--  Barra superior -->
<mat-toolbar color="primary">
  <ng-container *ngIf="user as u">
    <button mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Usuario">
      <mat-icon>account_circle</mat-icon>
    </button>
    <span style="margin-left: 8px">{{ u.name }}</span>
  </ng-container>
  <span class="toolbar-title">Tienda Virtual</span>
  <span class="spacer"></span>
</mat-toolbar>

<!-- Dashboard de usuario -->
<mat-menu #userMenu="matMenu">
  <div style="padding: 1rem; max-width: 300px">
    <h3>👤 Información del usuario</h3>
    <p><strong>Nombre:</strong> {{ user?.name }}</p>
    <p><strong>Email:</strong> {{ user?.email }}</p>
    <p><strong>Fecha de nacimiento:</strong> {{ user?.dateBirth }}</p>
    <p><strong>Género:</strong> {{ user?.gender }}</p>
    <p>
      <strong>Intereses:</strong>
      <span *ngFor="let interest of user?.interests; let last = last">
        {{ interest.text }}<span *ngIf="!last">, </span>
      </span>
    </p>
    <p><strong>País:</strong> {{ user?.country }}</p>
    <button
      mat-raised-button
      color="warn"
      (click)="logout()"
      style="margin-top: 1rem"
    >
      Cerrar sesión
    </button>
  </div>
</mat-menu>

<!-- Filtros de búsqueda -->
<div class="filters">
  <mat-form-field appearance="outline" class="filtro-input">
    <mat-label>Buscar producto</mat-label>
    <input
      matInput
      [(ngModel)]="searchProduct"
      placeholder="Nombre del producto"
    />
  </mat-form-field>
  <h3>Ordenar por precio: </h3>
  <mat-radio-group [(ngModel)]="orderProducts">
    <mat-radio-button value="asc">De menor a mayor</mat-radio-button>
    <mat-radio-button value="desc">De mayor a menor</mat-radio-button>
  </mat-radio-group>
</div>

<!-- Catálogo de productos -->
<div class="productos-grid">
  <ng-container *ngIf="products.length !== 0">
    <ng-container
      *ngFor="
        let product of paginatedProducts
          | filter : searchProduct
          | orderBy : orderProducts
      "
    >
      <app-product [product]="product"></app-product>
    </ng-container>
  </ng-container>
</div>

<!-- Paginación -->
<div class="pagination-controls">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
  <span>Página {{ currentPage }} de {{ totalPages() }}</span>
  <button (click)="nextPage()" [disabled]="currentPage === totalPages()">
    Siguiente
  </button>
</div>
