mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  span {
    font-weight: 500;
    font-size: 1rem;
    color: white;
  }

  button[mat-icon-button] {
    color: white;
  }
}

mat-menu {
  .mat-menu-content {
    padding: 1rem;
  }

  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
  }

  p {
    margin: 0.3rem 0;
    font-size: 0.95rem;
  }
}

.filtro {
  margin: 1rem 0;
  display: flex;
  justify-content: center;

  .filtro-input {
    width: 300px;
  }
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;

  button {
    padding: 0.5rem 1.2rem;
    font-size: 0.95rem;
    border-radius: 5px;
    background-color: var(--text-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  span {
    font-weight: 500;
  }
}

.toolbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: bold;
  color: white;
  pointer-events: none; // para no bloquear clics en íconos
}

.spacer {
  flex: 1 1 auto;
}

.filters {
  display: flex;
  justify-content: end;
  padding: 1rem;
  gap: 1rem;
}

mat-form-field {
  width: 500px;
}

h3 {
  margin: 0;
}
.mat-toolbar.mat-primary {
  background-color: var(--text-color);
}


@media (max-width: 870px) {
  .productos-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .filters {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
}
