<form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="auth-form">
  <h2 class="auth-form__title">Inicia sesión</h2>

  <div class="text-container">
    <mat-form-field appearance="outline">
      <mat-label>ingrese email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
      <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')"
        >Debe ser un formato de correo valido</mat-error
      >
    </mat-form-field>
  </div>

  <div class="text-container">
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hidePassword = !hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
        >Este campo es requerido</mat-error
      >
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')"
        >Debe contener al menos 8 caracteres</mat-error
      >
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button type="submit">Ingresar</button>
    <button mat-raised-button type="primary" (click)="goToRegister()">
      Registrarse
    </button>
  </div>
</form>
