.login-container {
  background: #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-width: 500px;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 2px 4px 7px #00000026;
}

.login-form__title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 4rem;
  color: #343841;
}

.inputs-container,
mat-form-field,
mat-radio-group {
  margin-bottom: 0.5rem;
}

mat-form-field {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
